:root {
  --color-very-dark-magenta: hsl(300, 43%, 22%);
  --color-pink: hsl(333, 80%, 67%);
  --color-dark-magenta: hsl(303, 10%, 53%);
  --color-light-magenta: hsl(300, 24%, 96%);
  --color-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 27.5em) {
  html {
    font-size: 50%;
  }
}

body {
  height: 80rem;
  width: 144rem;
  background-repeat: var(--color-white);
  font-family: "League Spartan", sans-serif;
  font-size: 1.5rem;
  color: var(--color-dark-magenta);
  text-align: left;
  -webkit-font-smoothing: antialiased;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
  background-position-x: 0%, right;
  background-position-y: 0%, bottom;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 75em) {
  body {
    height: 100vh;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media only screen and (max-width: 27.5em) {
  body {
    height: auto;
    width: 100vw;
    text-align: center;
  }
}
@media only screen and (max-width: 75em) {
  body {
    background-image: url("../images/bg-pattern-top-desktop.svg");
    background-position-x: 0%;
    background-position-y: 0%;
  }
}

.social-proof {
  height: 64rem;
  width: 114rem;
  display: grid;
  grid-template-columns: 1.2fr 1.9fr;
  grid-template-rows: 1fr 1fr;
}
@media only screen and (max-width: 27.5em) {
  .social-proof {
    margin-top: 8rem;
    height: 150rem;
    width: 37.5rem;
    grid-template-columns: 42rem;
    grid-template-rows: 1fr 1fr 3fr;
    margin-left: -3rem;
  }
}
.social-proof .proof-text {
  margin-top: 2rem;
}
.social-proof .proof-text__title {
  font-size: 5.5rem;
  letter-spacing: -2px;
  word-spacing: 2px;
  line-height: 0.9em;
  color: var(--color-very-dark-magenta);
  font-weight: 700;
}
.social-proof .proof-text__body {
  margin-top: 2.5rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.35em;
  word-spacing: -1px;
}
.social-proof .proof-stars {
  margin-top: 3.5rem;
}
.social-proof .proof-stars .proof-stars__box {
  width: 44.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.8rem 3.6rem;
  background-color: var(--color-light-magenta);
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  border-radius: 10px;
}
@media only screen and (max-width: 27.5em) {
  .social-proof .proof-stars .proof-stars__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40rem;
    margin: 2rem 0;
    gap: 1rem;
    padding: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.social-proof .proof-stars__1 {
  margin-left: 14rem;
}
@media only screen and (max-width: 27.5em) {
  .social-proof .proof-stars__1 {
    margin-left: 0;
  }
}
.social-proof .proof-stars__2 {
  margin-left: 18rem;
}
.social-proof .proof-stars__3 {
  margin-left: 22.5rem;
}
.social-proof .proof-stars__icon img {
  margin-right: 3px;
}
.social-proof .proof-stars__text {
  color: var(--color-very-dark-magenta);
  font-weight: 700;
  font-size: 1.7rem;
}
.social-proof .proof-user-reviews {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: var(--color-white);
  grid-column: span 2;
}
@media only screen and (max-width: 27.5em) {
  .social-proof .proof-user-reviews {
    grid-template-columns: 30rem;
    grid-column: span 1;
    text-align: left;
  }
}
.social-proof .user-review .user-review {
  height: 23.3rem;
  width: 34.9rem;
  display: grid;
  grid-template-columns: 0.6fr 1.2fr 1.2fr;
  grid-template-rows: 0.8fr 2.2fr;
  background-color: var(--color-very-dark-magenta);
  padding: 3rem;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 27.5em) {
  .social-proof .user-review .user-review {
    width: 40rem;
    height: 30rem;
  }
}
.social-proof .user-review .user-review__2 {
  margin-top: 1.6rem;
}
.social-proof .user-review .user-review__3 {
  margin-top: 3.2rem;
}
@media only screen and (max-width: 27.5em) {
  .social-proof .user-review .user-review__3 {
    margin-top: 1.6rem;
  }
}
.social-proof .user-review__top {
  overflow: hidden;
  margin-top: 1.5rem;
}
.social-proof .user-review__top img {
  height: 40px;
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 200px;
}
.social-proof .user-review__text {
  margin-top: 1rem;
  grid-column: span 2;
  font-weight: 700;
  font-size: 1.7rem;
  margin-left: 0.8rem;
  line-height: 1.2em;
}
@media only screen and (max-width: 27.5em) {
  .social-proof .user-review__text {
    font-size: 2.1rem;
  }
}
.social-proof .user-review__text-buyer {
  color: var(--color-pink);
  font-weight: 500;
}
.social-proof .user-review__bot {
  margin-top: 2rem;
  grid-column: span 3;
  font-size: 1.65rem;
  font-weight: 500;
  line-height: 1.4em;
}
@media only screen and (max-width: 27.5em) {
  .social-proof .user-review__bot {
    font-size: 2.1rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 5rem;
  color: var(--color-very-dark-magenta);
}
@media only screen and (max-width: 950px) {
  .attribution {
    bottom: -8rem;
  }
}
@media only screen and (max-width: 400px) {
  .attribution {
    position: static;
    margin-top: 12rem;
  }
}

.attribution a {
  color: hsl(228, 45%, 44%);
}