// CSS Custom Properties
:root {
  // ## Colors

  // ### Primary

  --color-very-dark-magenta: hsl(300, 43%, 22%);
  --color-pink: hsl(333, 80%, 67%);

  // ### Neutral

  --color-dark-magenta: hsl(303, 10%, 53%);
  --color-light-magenta: hsl(300, 24%, 96%);
  --color-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  height: 80rem;
  width: 144rem;
  background-repeat: var(--color-white);

  font-family: "League Spartan", sans-serif;
  font-size: 1.5rem;
  color: var(--color-dark-magenta);
  text-align: left;
  -webkit-font-smoothing: antialiased;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("../images/bg-pattern-top-desktop.svg"),
    url("../images/bg-pattern-bottom-desktop.svg");

  background-position-x: 0%, right;
  background-position-y: 0%, bottom;
  background-repeat: no-repeat;
}
