@use "base";

.social-proof {
  height: 64rem;
  width: 114rem;
  display: grid;
  grid-template-columns: 1.2fr 1.9fr;
  grid-template-rows: 1fr 1fr;

  .proof-text {
    margin-top: 2rem;

    &__title {
      font-size: 5.5rem;
      letter-spacing: -2px;
      word-spacing: 2px;
      line-height: 0.9em;
      color: var(--color-very-dark-magenta);
      font-weight: 700;
    }

    &__body {
      margin-top: 2.5rem;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 1.35em;
      word-spacing: -1px;
    }
  }

  .proof-stars {
    margin-top: 3.5rem;

    .proof-stars__box {
      width: 44.5rem;
      display: flex;
      gap: 3rem;
      align-items: center;

      padding: 1.8rem 3.6rem;
      background-color: var(--color-light-magenta);
      margin-top: 1.8rem;
      margin-bottom: 1.8rem;
      border-radius: 10px;
    }

    &__1 {
      margin-left: 14rem;
    }

    &__2 {
      margin-left: 18rem;
    }

    &__3 {
      margin-left: 22.5rem;
    }

    &__icon {
      img {
        margin-right: 3px;
      }
    }
    &__text {
      color: var(--color-very-dark-magenta);
      font-weight: 700;
      font-size: 1.7rem;
    }
  }

  .proof-user-reviews {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--color-white);
    // column-gap: 2rem;
    grid-column: span 2;
  }

  .user-review {
    .user-review {
      height: 23.3rem;
      width: 34.9rem;
      display: grid;
      grid-template-columns: 0.6fr 1.2fr 1.2fr;
      grid-template-rows: 0.8fr 2.2fr;
      background-color: var(--color-very-dark-magenta);
      padding: 3rem;
      border-radius: 10px;
      align-items: center;

      &__2 {
        margin-top: 1.6rem;
      }

      &__3 {
        margin-top: 3.2rem;
      }
    }

    &__top {
      overflow: hidden;
      margin-top: 1.5rem;

      img {
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 200px;
      }
    }

    &__text {
      margin-top: 1rem;
      grid-column: span 2;
      font-weight: 700;
      font-size: 1.7rem;
      margin-left: 0.8rem;
      line-height: 1.2em;

      &-name {
      }
      &-buyer {
        color: var(--color-pink);
        font-weight: 500;
      }
    }

    &__bot {
      margin-top: 2rem;
      grid-column: span 3;
      font-size: 1.65rem;
      font-weight: 500;
      line-height: 1.4em;
    }
  }
}
